In [1]:
import pandas as pd
df = pd.DataFrame({'vertebrates': ['Bird', 'Bird', 'Mammal', 'Fish', 'Amphibian', 'Reptile', 'Mammal']})

In [2]:
df

  vertebrates
0        Bird
1        Bird
2      Mammal
3        Fish
4   Amphibian
5     Reptile
6      Mammal

In [3]:
df.vertebrates.astype("category").cat.codes

0    1
1    1
2    3
3    2
4    0
5    4
6    3
dtype: int8

In [5]:
vertebrate_types = ['Mammal', 'Reptile', 'Bird', 'Amphibian', 'Fish']

df.vertebrates.astype("category", vertebrate_types).cat.codes

0    1
1    1
2    3
3    2
4    0
5    4
6    3
dtype: int8

In [6]:
ordered_satisfaction = ['Very Unhappy', 'Unhappy', 'Neutral', 'Happy', 'Very Happy']
df = pd.DataFrame({'satisfaction':['Mad', 'Happy', 'Unhappy', 'Neutral']})

In [13]:
df.satisfaction.astype("category", ordered_satisfaction)

0        Mad
1      Happy
2    Unhappy
3    Neutral
Name: satisfaction, dtype: category
Categories (4, object): [Happy, Mad, Neutral, Unhappy]